[Desktop Entry]
Type=Application
Name=Noiz2sa
Comment=An Abstract Shooter by Kenta Cho
Icon=noiz2sa
Exec=/usr/games/noiz2sa
Terminal=false
Categories=Game;ArcadeGame;
